__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.spec
*.exe

# Testing / Coverage
.coverage
htmlcov/
test/htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Temporary files
tmp/

# Environments
.venv/
env/
venv/
ENV/

# Local configuration
.env
.vscode/
.idea/
